body { 
background: #aabbcc;
text-align: center; 
font: 13px/18px "Helvetica Neue", "Helvetica", sans-serif;
}
#wrapper { 
background-color: #aabbcc; 
width:90%; 
text-align: left; 
margin: auto; 
}
#header { 
background-color: #ddaabb; 
height: 80px; 
} 

#leftmenu { 
padding-top:25px; 
width: 10%;
float:left;
background-color: #aadddd;
} 
#leftmenu ul { 
padding-left:3px; 
list-style: none; 
font-size: 15px; 
}

div.content{ 
padding-top: 5px; 
padding-left: 5%; 
padding-right: 5%; 
width: 90%;
float:left;
background-color: #ccdddd; 
} 

#footer { 
padding: 15px; 
clear:both;
background-color: #c345f4; 
color: yellow;
font-size: 12px; 
text-align: center;
}

a, a:link, a:visited { 
text-decoration: none; 
color: inherit; 
}
a:hover { 
color: #fdd700; 
}

table { 
/*color: white; */
font: 12px "Helvetica Neue", "Helvetica", sans-serif; 
}
td, th { 
padding: 1px 1px; 
border: 1px #aaa solid; 
}
td.name { 
background: #2334dd; 
padding: 3px 3px;
border: 2px #aaa solid; 
}
td.salt { 
background: #abbadd; 
}
td.prec { background: #ccc; }

input { border: 1px inset #ccc; padding: 2px; font: 13px/18px  "Helvetica Neue", "Helvetica", sans-serif; height: 22px;}
